motor
python-dotenv
fastapi[standard]
pydantic
uvicorn
httpx 
google-genai
tenacity
langchain
aiogoogle
urlextract
langchain-google-genai
langchain-openai
langchain-mistralai
beautifulsoup4
ddgs
langgraph-checkpoint-mongodb
qdrant-client
fastembed
pocket-tts
soundfile